<div class="card mb-3 shadow-sm border-0 bg-light">
    <div class="card-body">
        <p class="card-text mb-1"><%= comment.content %></p>
        <div class="text-muted small mb-2">
            <strong><%= comment.creatorId.username %></strong> 
            <span class="ms-2 badge bg-success text-white">+ <%= comment.upvotes %></span>
            <span class="badge bg-danger text-white">- <%= comment.downvotes %></span>
        </div>

        <% if (currentUser && currentUser._id.equals(comment.creatorId._id)) { %>
            <div class="mt-2">
                <button class="btn btn-sm btn-outline-info me-1">Edit</button>
                <form class="d-inline-block" action="/comments/<%= comment._id %>/delete?_method=DELETE" method="POST">
                    <button type='submit' class="btn btn-sm btn-outline-danger">Delete</button>
                </form>
            </div>
        <% } %>
    </div>
</div>