<!--For each individual post view-->
<%- layout('/newWeb/layout.ejs') %>
<!--there can be a problem in the above line -> then try changing to /posts/layout-->

<a href="/posts">Go Back</a>
<section class="m-3">

    <%- include('../partials/success-flash.ejs', { success }) %>
    <%- include('../partials/error-flash.ejs', { error }) %>

    <div class="container mb-5 border rounded bg-light p-3">
        <h3><%= post.title %></h3>

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <% post.mediaIncluded.forEach((img, idx) => { %>
                    <div class="carousel-item <%= idx === 0 ? 'active' : '' %>">
                        <img class="d-block w-100" src="<%= img.url %>" alt="<%= idx %> slide">
                    </div>
                <% }) %>

            </div>
        <% if (post.mediaIncluded.length > 1) {%>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
                <span class="sr-only">Next</span>
            </a>
        <% } %>
        </div>

        <br>
        <br>

        <p><%=post.content%></p>

        <% if (currentUser && post.creatorId.equals(currentUser._id)) { %>
            <button class="btn btn-sm btn-info"><a href="<%=`/posts/${post._id}/edit`%>">Edit</a></button>
            <form class="d-inline-block" action="<%=`/posts/${post._id}/delete?_method=DELETE`%>" method="POST">
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>

        <% } %>
    </div>
<!--    Then load the comments-->

    <div class="container mt-2">
        <div class="row g-2">

            <div class="col-sm border rounded bg-light p-3">
                <h4>Comments</h4>
                <div class="comment-view">
                    <% for (const comment of postComments) {%>
                        <%- include('../partials/comments/comment-card.ejs', { comment }) %>
                    <% } %>
                </div>
            </div>

            <div class="col-sm border rounded bg-light p-3">
                <h4>Leave a comment</h4>
                <% if (currentUser) {%>
                    <form action="/comments/posts/<%=post._id%>" method="POST" class="needs-validation" novalidate>
                        <textarea class="form-control" required name="content" id="comment" cols="30" rows="5" placeholder="Add a comment"></textarea>
                        <br>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <button type="submit" class="btn btn-sm btn-info">Add Comment</button>
                    </form>
                <%}else{%>
                    <h6>Login to add a comment</h6>

                    <a href="/users/login"><button>Login</button></a>
                <%}%>
            </div>
        </div>

    </div>
</section>