<% layout('/posts/layout.ejs') %>

<div>
    <h3>Edit Post</h3>

    <%- include('../partials/success-flash.ejs', { success }) %>
    <%- include('../partials/error-flash.ejs', { error }) %>

    <form class="mb-4 needs-validation" action="<%=`/posts/${post._id}/edit?_method=PUT`%>" enctype="multipart/form-data" method="POST" novalidate>
        <div class="form-group">
            <input type="text" class="form-control" id="title" name="title" value="<%=post.title%>" required>
        </div>
        <br>
        <div class="form-group">
            <textarea class="form-control"
                      id="content"
                      name="content"
                      rows="3"
                      placeholder="Body (Optional)"><%= post.content%></textarea>
        </div>

        <br>
        <div class="form-group">
            <div class="mb-3">
                <label for="formFileMultiple custom-file-label" class="form-label">Add more images:</label>
                <input class="form-control custom-file-input" type="file" id="formFileMultiple" name="image" multiple>
            </div>
        </div>

        <div class="form-check mb-3">
            <% post.mediaIncluded.forEach(function(img, idx) { %>
            <% console.log(img , idx) %>
            <div>
                <label class="form-check-label" for="image-<%=idx%>">
                    Delete?
                    <img src="<%= img.thumbnail %>" alt="image-<% idx %>" class="img-thumbnail">
                </label>
                <input class="form-check-input" type="checkbox" name="deleteImages[]"
                       value="<%= img.filename %>" id="image-<%=idx%>">
            </div>
            <%})%>
        </div>

        <br>
        <button type="submit">Edit</button>
        <a href="<%=`/posts/${post._id}`%>"><button type="button">Cancel</button></a>
    </form>

</div>