<!-- views/signup.ejs -->
<% layout('newWeb/users/layout')%>

    <div class="container-fluid jumbotron col-sm-4 pull-center">
        <h3>Sign Up</h3>

        <%- include('../partials/success-flash.ejs', { success }) %>
        <%- include('../partials/error-flash.ejs', { error }) %>

        <form autocomplete="off" action="/users/signup" class="needs-validation" method="POST" novalidate>
        <div class="form-group">
            <label for="username">Username:</label>
            <input class="form-control" type="text" id="username" name="username" value="<%= (user && user.username) || ''%>" required/>
        </div>

        <div class="form-group">
            <label for="display_name">Display Name:</label>
            <input class="form-control" type="text" id="display_name" name="display_name" minlength="3" maxlength="23" value="<%= (user && user.display_name) || ''%>" required/>
        </div>
        
        <div class="form-group">
            <label for="email">Email:</label>
            <input class="form-control" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" type="email" id="email" name="email" value="<%= (user && user.email) || ''%>" required/>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input class="form-control" type="password" id="password" name="password" minlength="8" maxlength="20" required/>
        </div>

        <div class="form-group">
            <label for="confirmpassword">Confirm Password:</label>
            <input class="form-control" type="password" id="confirmpassword" name="confirmpassword" minlength="8" maxlength="20" required/>
        </div>

        <div class="form-group">
            <label for="bio">Bio: </label>
            <input class="form-control" type="text" id="bio" name="bio" value="<%= (user && user.bio) || ''%>" />
        </div>
            <br>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Sign Up" />
        </div>
        </form>
    </div>
        <a href="/users/login">Already have an account? Log In</a>

